* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border-radius: 5px;
  margin: 0px 15px;
}

input {
  height: fit-content;
  border-radius: 5px;
  margin: 0px 15px;
}
