@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap");

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  line-height: 1.8;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

h1,
h2 {
  font-family: "Lobster", cursive, "Secular One";
  color: #35c4df;
  text-shadow: 5px 5px 5px #eedfa8;
}

h1 {
  font-size: 3rem;
}

a,
a:visited {
  color: inherit;
  font-weight: bolder;
}

button {
  border-radius: 15px;
  margin: 5px 15px;
  padding: 3px 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: rotate(4deg);
}

.shiny {
  background: rgb(255, 214, 84);
  background: linear-gradient(
    0deg,
    rgba(255, 214, 84, 1) 14%,
    rgba(41, 181, 223, 1) 40%,
    rgba(77, 223, 224, 1) 89%
  );
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Lobster", cursive, "Secular One";
  border: 1px solid #888;
}

input {
  height: fit-content;
  border-radius: 5px;
  margin: 0px 15px;
}
